{
  "presets": [
    "@babel/preset-env",
    "@vue/cli-plugin-babel/preset",
    [
      "@babel/preset-typescript", 
        {
            "allExtensions": true, 
            "isTSX": true,
            "ignoreExtensions": true
        }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime"
    ]
]
}